@font-face {
	font-family: "JAGUAR";
	src: url("./../font/JAGUAR.woff") format("woff");
}

* {
  margin: 0;
  padding: 0;
}

html, body {
	font-family: "JAGUAR";
	font-size: 1.3em;
  margin: 0;
  padding: 0;
  overflow-x:hidden;
}

p {
	font-size: 1.1em;
  padding-left: 20px;
  font-family: "verdana";
}

h1 {
  align-items: center;
  text-align: center;
  font-size: 3em;
  padding: 10px;
  color: #FFFFF;
}

h2 {
  font-size: 2.3em;
  padding: 25px;
}

nav {
  background-color: #303030 ;
}
nav  a {
  color: #fff;
  background-color: #303030 ;
}

.container {
  margin-top: 40px;
  margin-left: 20px;
  margin-right: 20px;
}

.container_total {
  width: 100%;
  overflow-x:hidden;
}


/**
* menu header
*/

/*Lorsque l’élément est survolé*/
.menu-nom:hover {
  border-top: 5px solid #e44d26;
  background-color: rgba(0, 191, 255, 0.15);

}

.menu-competances:hover {
  border-top: 5px solid #e44d26;
  background-color:  rgba(0, 191, 255, 0.15);
  color: #000;
}

.menu-about:hover {
  border-top: 5px solid #e44d26;
  background-color:  rgba(0, 191, 255, 0.15);
}

.menu-realisation:hover {
  border-top: 5px solid #e44d26;
  background-color:  rgba(0, 191, 255, 0.15);
}

.menu-contact:hover {
  border-top: 5px solid #e44d26;
  background-color:  rgba(0, 191, 255, 0.15);
}


.header {
  background-color: #303030;
  /*position: fixed;*/
  width: 100%;
  z-index: 3;
  padding: 14px 20px;
}

.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  /*overflow: hidden;*/
  background-color: #303030;
}

.header li a {
  display: block;
  padding: 20px 20px;
  border-right: 1px solid #f4f4f4;
  text-decoration: none;
}

.header li a:hover,
.header .menu-btn:hover {
  background-color: #f4f4f4;
  color: #000;
}

.header .logo {
  /*display: block;*/
  /*float: left;*/
  font-size: 2em;
  padding: 10px 20px;
  text-decoration: none;
  background-color: #303030;
  color: #fff;
}

/* menu */

.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height .2s ease-out;
  background-color: #303030;
  color: #fff;
}

/* menu icon */

.header .menu-icon {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 28px 20px;
  position: relative;
  user-select: none;
}

.header .menu-icon .navicon {
  /*background: #333;*/
  display: block;
  height: 2px;
  position: relative;
  transition: background .2s ease-out;
  width: 18px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  /*background: #333;*/
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

.header .menu-icon .navicon:before {
  top: 5px;
}

.header .menu-icon .navicon:after {
  top: -5px;
}

/* menu btn */

.header .menu-btn {
  display: none;

}

.header .menu-btn:checked ~ .menu {
  max-height: 3000px;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}
/* On modifie le style du menu pour son affichage responsive */

/* 48em = 768px */

@media (min-width: 48em) {


  .header li {
    float: left;
  }
  .header li a {
    padding: 20px 30px;
  }
  .header .menu {
    clear: none;
    float: right;
    max-height: none;
  }
  .header .menu-icon {
    display: none;
  }
}


/**
*  partie titre
*/
.container_title {
  background-image: url("./../img/header.jpg");
  background-color: transparent;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}



/**
* partie about
*/
.container_about {
  margin-top: 25px;
  padding-top: 10px;
  display: inline-flex;
}

.text-about-left{
  display: flex;
  background-color: pink;
  width: 35%;
  padding: 15px;
  align-items: center;
  justify-content: center;
  border-right: 1px solid red;
  background-color: lightgrey;
}

.text-about-right{
  width: 65%;
  background-color: lightgrey;

  padding: 15px;
  text-align: center; 
}

.photo_of_me {
  border: 2px solid #CE9E62;
  border-radius: 8px;
}

.telecharger {
  position:relative;
  left:35%;
}

.button-telecharger {
  background-color: #008CBA; /* Blue */
  border: none;
  color: white;
  padding: 15px 32px;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

/**
*   partie compétances
*/

.competance{
  align-items: center;
  position: relative; 
}

.container_competance {
  margin-top: 25px;
  padding-top: 10px;
  display: flex;
  align-items: center;
  color: #5D6062;
}

.text-competance-left{
  width: 25%;
  /* background-color: pink; */
  padding: 15px;
  text-align: center;
}

.text-competance-center{
  width: 25%;
  /* background-color: yellow; */
  padding: 15px;
  text-align: center;    
}

.text-competance-center2{
  width: 25%;
  /* background-color: yellow; */
  padding: 15px;
  text-align: center;   
}

.text-competance-right{
  width: 25%;
  /* background-color: purple; */
  padding: 15px;
  text-align: center; 
}
  
.fa-3x{
  text-align: center;
  display: block;
}

.fa-html5 { color: #F16529; }
.fa-css3 { color: #379AD6; }
.fa-php { color: #566DA8; }
.fa-js { color: #F8DC3D;}
.fa-symfony { color: #000000; }
.fa-bootstrap { color: #673AB7; }
.fa-sass { color: #CC6699; }
.fa-git-square {color: #F05133; }
.fa-github { color: #000000; }
.fa-linux {color: #000000;}

/**
*   partie realisation
*/
  .container_realisation {
    margin-top: 25px;
    padding-top: 10px;
    display: inline-flex;
  }


/**
* Partie Contact
*/

.container_contact {
  display: flex;
  justify-content: center;
}

label {
  font-size: 1.3em;
  padding-left: 20px;
  font-family: "verdana";
}

/**
* Partie Réalisations
*/

.container_realisation {
    display: flex;
    justify-content: center;
}

  .text-left{
    width: 33%;
    /* background-color: pink; */
    padding: 15px;
    text-align: center;
  }
  .text-center{
    width: 33%;
    padding: 15px;
    text-align: center;
    
  }
  .text-right{
    width: 33%;
    padding: 15px;
    text-align: center; 
  }


  /**
  * footer
  */

.container_footer {
  background-color: lightgrey;
  color: #5D6062;
  padding-top: 10px;
  display: flex;
}

.footer { background-color: lightgrey; }

.fa-linkedin{ color: #0092BD; }
.fa-twitter { color: #1DA1F2; }


  
 