@font-face {
	font-family: "JAGUAR";
	src: url("./../font/JAGUAR.woff") format("woff");
}

html, body {
	font-family: "JAGUAR";
	font-size: 1.3em;
}

p {
	font-size: 1.3em;
}

h1 {
  text-align: center;
  font-size: 3em;
}

h2 {
  font-size: 2.3em;
}
